.popover-content {
  z-index: 50;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  padding: 1rem;
  background: white;
}

.block-menu {
  display: flex;
  justify-content: center;
  min-height: 20px;
  height: 100%;
  position: relative;
}

.block-menu-content {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.menu-content {
  position: absolute;
  z-index: 99;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  padding: 0;
  top: 7px;
  left: 0;
  width: 10rem;
}

.menu-content > li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.menu-content > li:hover {
  background: #dedede;
}

.editor-block {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  align-items: center;
}

.editor-block-buttons {
  grid-column: span 1 / span 1;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.editor-block-content {
  grid-column: span 11 / span 11;
}

@media (max-width: 1024px) {
  .editor-block-buttons {
    grid-column: span 2 / span 2;
  }
  .editor-block-content {
    grid-column: span 10 / span 10;
  }
}

@media (max-width: 768px) {
  .editor-block-buttons {
    grid-column: span 3 / span 3;
  }
  .editor-block-content {
    grid-column: span 9 / span 9;
  }
}

@media (max-width: 640px) {
  .editor-block-buttons {
    grid-column: span 4 / span 4;
  }
  .editor-block-content {
    grid-column: span 8 / span 8;
  }
}
